<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Tweeter!!</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <div class="logo">
                                    <h1><span class="color">@Html.ActionLink("Tweeter", "Index", "Home")</span></h1>
                                    <div class="hmeta">Twitter Knock-Off</div>
                                </div>
                            </div>
                            <div class="span3"</div>
                            <div class="span3">
                                <div class="logo">
                                    <div class="hmeta">
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li>@Html.ActionLink("Edit Profile", "EditProfile", "Users")</li>
                                    <li>@Html.ActionLink("Post Tweet", "Create", "Tweet")</li>
                                    <li>@Html.ActionLink("Find Friends", "SearchIndex", "Users")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="copy">
                            <p>&copy; @DateTime.Now.Year - Rod Hoover</p>
                        </div>
                    </div>
                 </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
