@model Tweeter.Models.User

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Username);
}

<div class="content service-three">
    <div class="container">

        <h2>@Html.DisplayFor(model => model.Username)</h2>

        <fieldset>

            <div class="twoColumnContainer userDetails">
                <div class="leftColumn">
                    <div>@Html.DisplayNameFor(model => model.About)</div>
                    <div>@Html.DisplayNameFor(model => model.Name)</div>
                    <div>@Html.DisplayNameFor(model => model.Website)</div>
                </div>
                <div class="rightColumn">
                    <div>@Html.DisplayFor(model => model.About)</div>
                    <div>@Html.DisplayFor(model => model.Name)</div>
                    <div>@Html.DisplayFor(model => model.Website)</div>
                </div>
            </div>
        </fieldset>

        <h2>Tweets</h2>

        <hr />

        @if(Model.Tweets != null){
            
            foreach (var item in Model.Tweets)
            {
                @Html.Partial("_TweetPartial", item);
            }

        }
    </div>
</div>

