@model Tweeter.Models.User

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Username);
}

<h2>@Html.DisplayFor(model => model.Username)</h2>

<fieldset>
    <legend>User</legend>

    <div class="twoColumnContainer userDetails">
        <div class="leftColumn">
            <div>@Html.DisplayNameFor(model => model.About)</div>
            <div>@Html.DisplayNameFor(model => model.Name)</div>
            <div>@Html.DisplayNameFor(model => model.Website)</div>
        </div>
        <div class="rightColumn">
            <div>@Html.DisplayFor(model => model.About)</div>
            <div>@Html.DisplayFor(model => model.Name)</div>
            <div>@Html.DisplayFor(model => model.Website)</div>
        </div>
    </div>
</fieldset>

<h2>Tweets</h2>

@if(Model.Tweets != null){

    <div class="twoColumnContainer userDetails">
       <div class="leftColumn">
            @foreach (Tweeter.Models.Tweet tweet in Model.Tweets)
            {
                <div>@(tweet.Text)</div> 
            }
        </div>
        <div class="rightColumn">
            @foreach (Tweeter.Models.Tweet tweet in Model.Tweets)
            {
                <div>@(tweet.CreatedAt)</div> 
            }
        </div>
    
    </div>


}

<p>
    @Html.ActionLink("All Users", "SearchIndex")
</p>
